### Importação dos dados

In [15]:
import pandas as pd

url1 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"

loja1 = pd.read_csv(url1)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)


loja.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38

#1. Análise do faturamento

In [21]:
df = pd.concat([loja1, loja2, loja3, loja4], ignore_index=True)

df['faturamento'] = df['Preço'] * df['Quantidade de parcelas']

faturamento_total = df['faturamento'].sum()
faturamento_total

np.float64(17470064.849999998)

# 2. Vendas por Categoria

In [19]:
vendas_por_categoria = (
    df.groupby('Categoria do Produto')['faturamento']
    .sum()
    .sort_values(ascending=False)
)

vendas_por_categoria

Categoria do Produto
eletronicos              6519744.59
eletrodomesticos         5358770.66
moveis                   2962647.31
instrumentos musicais    1392820.77
esporte e lazer           575997.31
brinquedos                282153.90
utilidades domesticas     227149.45
livros                    150780.86
Name: faturamento, dtype: float64

# 3. Média de Avaliação das Lojas

In [22]:
media_avaliacao_lojas = (
    df.groupby('Local da compra')['Avaliação da compra']
    .mean()
    .round(2)
)

media_avaliacao_lojas

Local da compra
AC    3.67
AL    3.63
AM    4.07
AP    3.78
BA    3.80
CE    3.60
DF    4.02
ES    4.02
GO    3.94
MA    3.68
MG    4.09
MS    4.10
MT    4.11
PA    3.69
PB    4.09
PE    3.98
PI    3.80
PR    4.08
RJ    3.78
RN    4.21
RO    3.89
RR    3.00
RS    4.02
SC    4.01
SE    3.46
SP    4.11
TO    3.83
Name: Avaliação da compra, dtype: float64

# 4. Produtos Mais e Menos Vendidos

In [23]:
produtos_vendidos = df['Produto'].value_counts()

mais_vendidos = produtos_vendidos.head(5)
menos_vendidos = produtos_vendidos.tail(5)

mais_vendidos, menos_vendidos

(Produto
 Cômoda                      210
 Carrinho controle remoto    206
 Micro-ondas                 206
 Bateria                     203
 Cama king                   201
 Name: count, dtype: int64,
 Produto
 Ciência de dados com python    166
 Guitarra                       165
 Mochila                        163
 Headset                        158
 Celular ABXY                   157
 Name: count, dtype: int64)

# 5. Frete Médio por Loja

In [24]:
frete_medio_loja = (
    df.groupby('Local da compra')['Frete']
    .mean()
    .round(2)
)

frete_medio_loja

Local da compra
AC     49.36
AL     33.26
AM     29.37
AP     21.65
BA     30.26
CE     25.00
DF     30.19
ES     33.20
GO     38.13
MA     35.13
MG     33.46
MS     33.69
MT     32.69
PA     30.63
PB     33.91
PE     35.72
PI     36.95
PR     34.57
RJ     33.94
RN     40.09
RO     46.35
RR    113.67
RS     36.58
SC     29.84
SE     30.49
SP     32.71
TO     33.46
Name: Frete, dtype: float64